* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 
body {
    background-color: #6c757d;
}

.navbar-toggler {
    border: none;


}
.navbar-toggler:focus {
    box-shadow: none;
}

#alertD {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 50px;
    text-align: center;
    font-size: 20px;
    color: black;
    text-decoration: none;
     border: #6c757d;
}

#carouselExampleCaptions {
    
}

 /* Cards */
#logoText {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    color: white;
    
}

 #cards {
     margin: 3%;
 }

 .card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
  .card.selected {
    background-color: yellow;
  }

  .card.expanded {
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    max-width: 2000px;
    background-color: #ffc107 ;
  }
  
