* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 
body {
    background-color: #6c757d;
}


 /* Cards */
#logoText {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    color: white;
    
}

 #cards {
     margin: 3%;
 }

 .card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
  .card.selected {
    background-color: yellow;
  }
