* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logoText {
    font-family: fuenteDigimon;
    font-size: 2em;
    color: white;
}

@font-face {
    font-family: fuenteDigimon;
    src: url("pixel.ttf");
}